<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <title>cumparcarti</title>
    <title>cumpar carti</title>
    <title>achizitii carti</title>
</head>
<body>
    <div id="header">
        <h1>Contact: </h1>
        {% for contact in contacte %}
            <p>{{contact.nume}} - <input type="button" value="{{contact.tel}}"></p>
        {% endfor %}
    </div>
    <div id="paragrafe">
        {% for paragraf in paragrafe %}
            <div id="paragraf">
                <H2>{{paragraf.titlu}}</H2>
                <p>{{paragraf.paragraf}}</p>
                <p>{{paragraf.poza}}</p>
                <img src="{{paragraf.poza}}" alt="none" hight="250px">
            </div>
        {% endfor %}
    </div>
    {% comment %} <div class="underConstruction">
        <h1>Under Construction !!!</h1>
        <img src="{% static 'construction-LPT/under construction.jpg' %}" alt="">
    </div> {% endcomment %}
    {% comment %} cumpar carti, cumparcarti, vandcarti, vand carti, cumpar cartii, cumparcartii, achizitionez carti, achizitionezcarti, carti anticariat, anticariat {% endcomment %}
</body>
</html>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11402046384">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-11402046384');
    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
        'send_to': 'AW-11402046384/9_DtCJiMovQYELDX9bwq',
        'event_callback': callback
        });
        return false;
    }
</script>